.section {
    padding: 5.15rem 1.5rem 0.15rem 1.5rem;
}

.tile.is-child {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tile.is-child .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    max-width: 90%;
    height: 4rem;
}

@media (max-width: 768px) {
    .tile.is-child {
        flex-direction: column;
        width: 100%;
    }

    .tile.is-child .title {
        font-size: 1rem;
        white-space: normal;
        text-overflow: clip;
    }
}

.modal-card-title {
    flex-shrink: 1;
}

.navbar.is-primary {
    position: fixed;
    width: 100%;
}

.hero-body {
    padding: 4rem 1.5rem;
}

.experience-points {
    display: none;
}
